.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.List-items{
  color: aliceblue;
  background-color: rgb(9, 125, 87);
 width:1200px;
 border:1px white solid;
 text-align: left;
 padding: 2px; 
}
.List-items button{
  
   display: flex;
  justify-content: space-evenly;
  align-items:flex-start; 
  height: 20px;
  width: 100;
   position: absolute;
   background-color: yellow;
}
#done{
  
  background-color: red;
  margin-left: 80px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
